.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.site-layout .site-layout-background {
  background: #fff;
}

.custom-sider {
  box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.1);
}

.main-layout {
  height: 100%;
  .logo {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    height: 64px;
    font-family: Lato;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
    // margin-bottom: 10px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.03);
    .main {
      font-weight: 900;
      letter-spacing: 0.8px;
      color: #007aff;
    }
  }
}
