.tab-list {
  .tab-item {
    font-size: 16px;
    padding: 0px 24px;
    color: rgba(0, 0, 0, 0.8);
    min-width: 100px;
    border-bottom: 8px solid transparent;
    &.isSelected {
      font-weight: bold;
      border-bottom: 8px solid rgba(0, 0, 0, 0.8);
    }
  }
}
