.ant-table-thead {
  .ant-table-cell {
    height: 60px;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
  }
}

.ant-table-tbody {
  .ant-table-row.odd {
    background-color: #fafafa;
  }
  .ant-table-cell {
    height: 52px;
    font-family: Lato;
    font-size: 14px;
  }
}
