.ant-table-thead {
  .ant-table-cell {
    height: 60px;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
  }
}

.ant-table-tbody {
  .ant-table-row.odd {
    background-color: #fafafa;
  }
  .ant-table-row.clickable {
    cursor: pointer;
  }
  .ant-table-cell {
    height: 52px;
    font-family: Lato;
    font-size: 14px;
  }
}

.ant-table-tbody > tr > td, .ant-table-thead > tr > th {
  word-break: normal;
  overflow-wrap: normal;
}
