@import './styles/index.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Lato', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  overflow: hidden;
  height: inherit;
  width: inherit;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


.site-layout {
  position: relative;
  background-color: #f5faff;
  height: inherit;
  .layout-header {
    background: #fff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.03);
    height: 116px;
    padding: 0px 64px;
    &.fixed {
      position: sticky;
      top: 0;
      z-index: 3;
    }
  }

  .layout-content {
    padding: 48px 64px;
  }
}
